<!doctype html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="container">
    <h1 class="header">SQL generator <img class="imagesize" src="https://cdn2.iconfinder.com/data/icons/web-and-mobile-ui-volume-7/48/309-512.png" alt="SQL"></h1>
    <br>
    <h4>Enter start day and end day</h3>
    <form action="{{ url_for('handle_data') }}" method="post">
        <div>
            <label for="startday">Start Day</label>
            <input type="text" name="startday" placeholder="x days after today">
        </div>
        <div>
            <label for="endday">End Day</label>
            <input type="text" name="endday" placeholder="x days after today">
        </div>
        <input type="submit"class="btn btn-primary">
    </form>

    <!-- JS CDNs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
</body>
</html>